@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  background-color: #f5f5f5;
  margin: 0px;
  padding: 0px;
  color: #36383c;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:20px;
  margin:0 13%;
}
.site-logo {
  font-size: 30px;
  font-weight: bold;
}
.nav-button {
  padding: 10px 15px;
  border-radius: 10px;
  color: #006a50;
  border-width: 1px;
}
#hero-area {
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 200px;
  padding: 40px;
  border-radius: 15px;
}
#hero-area .hero-left-side{
  font-size: 35px;
  background: none;
}
#hero-area .hero-left-side p{
    background: none;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 400;
}
#hero-area .hero-left-side h1{
    background: none;
    margin-bottom: 20px;
}
#hero-area .hero-left-side .temp-button {
  width: 200px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #006a50;
  color: #ffffff;
  border: none;
}
#hero-area .image{
    background: none;
    margin-right: 10px;
}
.heading-style{
  margin: 0 auto;
  font-size: 20px;
  margin-bottom:35px;
}
.h11{
  margin: 0 auto;
  width: 80%;
}
#card-container{
display: flex;
justify-content: center;
gap: 20px;
margin-bottom: 35px;
}
#card-container .card{
    width: 325px;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
}
.card h
.heading-style p{
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}
#vision-card-parent{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 35px auto;
}
.vision-card-1{
  background-color: #d5e1f5;
  color: #36383c;
  padding: 30px;
  width: 350px;
  border-radius: 5%;
}
.vision-card-1 button{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #5490f5;
  color: #ffffff;
  border: none;
}
.vision-card-1 img{
  margin-bottom: 20px;
}
.vision-card-1 p{
  margin: 20px 0;
}



.vision-card-2{
  background-color: #c6e4d6;
  color: #36383c;
  padding: 30px;
  width: 350px;
  border-radius: 5%;
}
.vision-card-2 button{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #09a15c;
  color: #ffffff;
  border: none;
}
.vision-card-2 img{
  margin-bottom: 20px;
}
.vision-card-2 p{
  margin: 20px 0;
}



.vision-card-3{
  background-color: #f7ebcf;
  color: #36383c;
  padding: 30px;
  width: 350px;
  border-radius: 5%;
}
.vision-card-3 button{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffc239;
  color: #ffffff;
  border: none;
}
.vision-card-3 img{
  margin-bottom: 20px;
}
.vision-card-3 p{
  margin: 20px 0;
}
#cab{
  width: 78%;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 30px 20px;
}
#cab p{
  font-size: 16px;
}
#cab h3{
  margin: 15px 0;
}
.rn{
  width: 80%;
  margin: 35px auto;
}
.rn h1{
margin-bottom: 10px;
}
.rn-1{
  display: flex;
  margin-top: 35px;
  background-color: rgb(231, 226, 226);
  padding: 35px 40px;
  border-radius: 10px;
}
.rn-1 button{
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #09a15c;
  color: #ffffff;
  border: none;
}
.rn-1 img{
  border-radius: 10px;
}
.rn-2{
  padding: 0 30px;
}
.rn-2 h2,img, p{
  margin-bottom: 15px;
}
